
.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 80%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.error {
  color: #B80C09;
  font-size: 0.875em;
  margin-top: 5px;
}

.btn {
  display: inline-block;
  padding: 10px 34px;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  cursor: pointer;
  margin-top: 10px;
}

.btn-primary {
  background-color: #ccc;
  color: white;
}

.btn-primary:disabled {
  background-color: #ccc;
}


.error-message {
  color: #B80C09;
  text-align: center;
  margin-top: 10px;
}
