.info-card {
  padding: 10px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 5px;
}

.loc {
  color: #717171;
  margin-bottom: 20px;
}

.price-tag {
  font-size: 1.5rem;
  font-weight: bold;
  color: #222; margin: 20px 0;
}

.unit {
  font-weight: normal;
  font-size: 1rem;
  color: #717171;
}
