.navbar {
  position: relative;
  display: flex;
  justify-content: center;
  width: 95%;
  background-color: #015E61;
  backdrop-filter: blur(15px);
  padding: 20px 0;
  margin: 10px auto;
  border-radius: 10px;
  z-index: 10;
  transition: background-color 0.3s ease;
}

.navbar.transparent {
  background-color: transparent;
}


.nav-item {
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin: 0 15px;
  position: relative;
}

.nav-item:hover {
  text-decoration: none;
  color: #a0d2d3;
  text-decoration: none;
}

