<div class="modal-overlay" (click)="onClose()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <button class="close-btn" (click)="onClose()">&times;</button>

    <div class="container">
      <div class="left-section">
        <app-apartment-images [images]="property.images"></app-apartment-images>
        <app-apartment-details [description]="property.description"></app-apartment-details>
      </div>

      <div class="middle-section">
        <app-apartment-info [property]="property"></app-apartment-info>
      </div>

      <div class="right-section">
        <div class="map-container">
          <app-map-section [apartment]="property"></app-map-section>
        </div>
        <div class="amenities-info">
          <app-amenities-info [amenities]="property.amenities"></app-amenities-info>
        </div>
      </div>
    </div>

    <div *ngIf="userRole === 'GUEST'">
      <button class="reserve-button" (click)="reserve()">Reserve</button>
    </div>

    <div *ngIf="userRole === 'HOST' || userRole === 'ADMIN'">
      <button class="reserve-button" (click)="edit()">Edit Property</button>
    </div>
  </div>
</div>
