<div class="two-column-container">
  <div content-section [ngClass]="{ 'expanded': hideSidebar }">

    <div class="profile-header-container" (click)="openEditPopup()">
      <app-entity-header
        *ngIf="user"
        [label]="'Profile'"
        [title]="user.firstName + ' ' + user.lastName"
        [subtitle]="user.role"
        [imageUrl]="user.imageUrl ?? 'assets/defaultPic.jpg'">
      </app-entity-header>
    </div>

    <app-tabs [tabs]="tabs" (tabChange)="onTabChange($event)"></app-tabs>

    <div class="profile-cards-holder">

      <ng-container *ngIf="activeTab === 'Reservation'">
      </ng-container>

      <ng-container *ngIf="activeTab === 'Make Reservation'">
      </ng-container>

      <ng-container *ngIf="activeTab === 'History'">
      </ng-container>


      <ng-container *ngIf="activeTab === 'Create Apartment'">
        <div style="height: 26px"></div>
        <app-create-apartment-page></app-create-apartment-page>
      </ng-container>

      <ng-container *ngIf="activeTab === 'My Properties'">
        <div style="height: 26px"></div>
        <app-properties-page></app-properties-page>
      </ng-container>

      <ng-container *ngIf="activeTab === 'Bookings'">
        <div style="height: 26px"></div>
      </ng-container>

      <ng-container *ngIf="activeTab === 'Income'">
        <div style="height: 26px"></div>
      </ng-container>

      <ng-container *ngIf="activeTab === 'Users Overview'">
        <div style="height: 26px"></div>
      </ng-container>

    </div>
  </div>
</div>

<app-edit-profile
  *ngIf="showEditPopup && user as nonNullUser"
  [user]="nonNullUser"
  (close)="closeEditPopup()">
</app-edit-profile>
