.tabs-container {
  display: flex;
  gap: 0.3rem;

  .tab-button {
    background-color: #E9E9E9;
    border: none;
    padding: 0.8rem 1.2rem;
    border-radius: 15px 15px 0 0;
    color: #888;

    &.active {
      background-color: white;
      color: black;
      box-shadow:
        1px -6px 6px rgba(0, 0, 0, 0.25),
        0px 0px 0px rgba(0, 0, 0, 0.25);

    }
    &:hover:not(.active) {
      background-color: #e8e8e8;
    }
  }
}
