input {
  font-family: inherit;
  width: 100%;
  padding: 0.8rem 1rem;
  box-sizing: border-box;

  border: 1px solid var(--color-border, #ccc);
  border-radius: 20px;
  background-color: white;
  color: var(--color-text-dark, #333);

  &:focus {
    outline: none;
    border-color: #000;
  }
}

:host(.underline) input {
  background: transparent;
  border: none;
  border-bottom: 2px solid #ccc; // Vidljivija siva
  border-radius: 0;
  padding: 0.5rem 0;
}
