.signup-container {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 400px;
  margin: 7% auto;
  padding: 80px 20px;
  text-align: center;
  color: white;
  background-color: rgba(30,30,30, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 8px;
}


h2 {
  text-align: center;
  margin-bottom: 20px;
}

.redirect-login {
  text-align: center;
  font-size: 0.9rem;
  margin-top: 1rem;

}

.redirect-login a {
  color: #015E61;
  text-decoration: none;
  font-weight: bold;
}

.redirect-login a:hover{
  text-decoration: underline;
}
